/*Global*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	margin-bottom:100px;
}

body{
	background-color:black;
	background-image:url('../images/Bcakground.png');
	background-size:3000px;
	background-repeat:repeat;
	background-position:center center;
	color:#ffffff;
	font-family:sans-serif;
}

a {
	color:#7a97ff;
}

a:hover{
	color:#0038ff;
}'

a:active{
	color:#001561;
}

/*global navbar*/
nav{
	background-color:#010059;
}

nav:after{
	content:'';
	clear:both;
	display:table;
}

nav .logo{
	float:left;
	font-family:"Audiowide", sans-serif;
	font-size:27px;
	font-weight:800;
	line-height:70px;
	padding-left:20px;
}

nav ul{
	float:right;
	list-style:none;
	margin-right:40px;
	position:relative;
}

nav ul li{
	float:left;
	display:inline-block;
	background:black;
	margin:0px 5px;
	background-color:#010059;
}

nav ul li a{
	color:white;
	text-decoration:none;
	line-height:70px;
	font-size:18px;
	padding:2px 15px;
}

nav ul li a:hover{
	color:#00b3ff;
	border-radius:10px;
	box-shadow: 0px 0px 5px #00b3ff,0px 0px 5px #00b3ff;
}

nav ul ul li a:hover{
	color:#00b3ff;
	box-shadow:none;
}

nav ul ul{
	border-top:2px solid #0095ff;
	position:absolute;
	top:70px;
	visibility:hidden;
	opacity: 0;
}

nav ul li:hover > ul{
	visibility:visible;
	opacity: 1;
}

nav ul ul li{
	position:relative;
	border-top:0.5px solid #0095ff;
	margin:0px;
	width:150px;
	float:none;
	display:list-item;
}

nav ul ul li a{
	line-height:50px;
}

/*mobile user*/
.show, .list, input{
	display:none;
}
/*
@media all and (max-width: 803px){
	nav ul{
		margin-right: 0px;
		float: left;
	}

	nav .logo{
		padding-left:  20px;
		width: 100%;
	}

	nav ul li, nav ul ul li{
		display: block;
		width: 100%;
	}

	nav ul ul{
		top: 70px;
		position: static;
		float: none;
		display: none;
		opacity:1;
		visibility: visible;
	}



	nav ul ul li{
		  position: static;
			padding-left: 20px;
	}

	.show{
		display: block;
		color:white;
		font-size: 18px;
		padding: 0px 20px;
		line-height:70px;
	}

	.show:hover{
		color:#00b3ff;
	}

	.list{
		display: block;
		color: white;
		position: absolute;
		right: 40px;
		line-height: 70px;
		font-size: 30px;
	}

	nav ul li a:hover{
		box-shadow: none;
	}

	.show + a, ul{
		display: none;
	}

	[id^=btn]:checked + ul{
		display: block;
	}
}
*/

/*global header*/
.heading{
	display:flex;
	width:100%;
	height:400px;
	background-image:url('../images/camping.png');
	background-size:1500px;
	background-repeat:no-repeat;
	background-position:center center;
	justify-content:center;
	align-items:center;
}

.heading h1{
	display:flex;
	text-align:center;
	font-size:70px;
}



/*global footer*/
.footer{
	text-align:Center;
	color:white;
	font-size:2vw;
	margin:50px;
}



/*Home Page*/
.container-home{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;
}

.about-me{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
	font-size:30px;
	text-align:center;
}
.con-panel{
	border:3px solid white;
	border-radius:25px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	margin-left:10%;
	margin-right:10%;
}


.pa1{
	Width:400px;
	margin:10px;
	padding-left:10px;
	border:2px solid white;
	list-style-position: inside;
	border-radius:20px;
	font-size:25px;
}

.pa2{
	Width:400px;
	margin:10px;
	padding-left:10px;
	border:2px solid white;
	list-style-position:inside;
	border-radius:20px;
	font-size:25px;
}

.pa3{
	Width:400px;
	margin:10px;
	padding-left:10px;
	border:2px solid white;
	list-style-position:inside;
	border-radius:20px;
	font-size:25px;
}



/*About Page*/
.container-about{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;

}
.about-website{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
	font-size:30px;
	text-align:center;
}



/*Project Page*/
.project{
	font-size:80px;
	text-align:center;
	padding:40px;
}

.container-project{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;

}

.con-image h6{
	font-size:10px;
}

.con-image{
	display:flex;
	margin-left:10%;
	margin-right:10%;
	border:2px solid white;
	padding:20px;
	border-radius:25px;
	font-size: 2vw;
	flex-flow:column wrap;
}

.con-image img{
	display:flex;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

.con-image a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color:#0008eb;
	border-radius:20px;
	margin:20px;
	height:30px;
}



/*Change log*/
.container-changelog{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;
}

.changelog{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
	font-size:20px;
	list-style-position: inside;
	padding:10px;
}

.changelog h1{
	font-size:50px;
	text-align:center;
	padding:10px;
}

.footnote{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
	font-size:20px;
	padding:20px;
}



/*contact page*/
.container-contact{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;
}

.contact{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
}

.contact a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color:#0008eb;
	border-radius:20px;
	margin:20px;
}

.contact h1 {
	font-size:50px;
	text-align:center;
}
