/*Global*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	margin-bottom:100px;
}

body{
	background-color:black;
	background-image:url('../images/Bcakground.png');
	background-size:3000px;
	background-repeat:repeat;
	background-position:center center;
	color:#ffffff;
	font-family:sans-serif;
}

a {
	color:#7a97ff;
}

a:hover{
	color:#0038ff;
}'

a:active{
	color:#001561;
}

/*global navbar*/
nav{
	background-color:#010059;
	height:50px;
	width:100%;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li{
	display:inline-block;
	box-sizing:border-box;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 5px;
	border-left: 0.5px solid #27a0e6;
}

nav ul li a{
	box-sizing:border-box;
	font-size: 20px;
	text-decoration: none;
	padding: 5px 10px;
}

nav ul li a:hover{
	box-sizing:border-box;
	color: #a3f4ff;
	border:1px solid #a3f4ff;
	border-radius: 20px;
}
/*for mobile global*/
@media only screen and (max-width: 640px){
	nav{
		margin: 0px 0px;
		padding: 0px 0px;
		width: 100%;
		height:51px;
	}
	nav ul{
		margin: 0px 0px;
		padding: 0px 0px;
		width: 100%;
		left: 0px;
		background-color: #010059;
	}

	nav ul li{
		display:block;
		float: right;
		width: 100%;
		padding:0;
		text-align: center;
		border-left:none;
		border-bottom: 0.5px solid #27a0e6;
	}
	nav ul li a{
		background-color: #010059;
		width: 100%;
	}

}

/*global header*/
.heading{
	display:flex;
	width:100%;
	height:300px;
	background-image:url('../images/camping.png');
	background-size:1500px;
	background-repeat:no-repeat;
	background-position:center center;
	justify-content:center;
	align-items:center;
}

.heading h1{
	display:flex;
	text-align:center;
	font-size:70px;
}

/*header for small screen*/
@media only screen and (max-width: 390px){
	.heading h1{
		font-size: 50px;
	}
}

/*global footer*/
.footer{
	text-align:Center;
	color:white;
	font-size:2vw;
	margin:50px;
}



/*Home Page*/
.container-home{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;
}

.about-me{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
	font-size:30px;
	text-align:center;
}
.con-panel{
	border:2px solid white;
	border-radius:25px;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	margin-left:10%;
	margin-right:10%;
}


.pa{
	Width:100%;
	margin:10px;
	padding-left:10px;
	border:1px solid white;
	list-style-position: inside;
	border-radius:20px;
	font-size:25px;
}



/*homepage mobile*/
@media only screen and (max-width: 390px){
	.about-me{
		border: 1px solid white;
	}
	.about-me h1{
		font-size: 40px;
	}

	.about-me p{
		font-size: 20px;
	}

	.con-panel{
		border: 1px solid white;
	}

	.con-panel h2{
		font-size: 20px;
	}

	.con-panel li{
		font-size: 15px;
	}
}


/*About Page*/
.container-about{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;

}
.about-website{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
	font-size:30px;
	text-align:center;
}


.changelog{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
	font-size:20px;
	list-style-position: inside;
	padding:10px;
}

.changelog h1{
	font-size:50px;
	text-align:center;
	padding:10px;
}

.footnote{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
	font-size:20px;
	padding:20px;
}


/*Project Page*/
.project{
	text-align:center;
	padding:40px;
	font-size: 80px;
}

.container-project{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;

}

.con-image h6{
	font-size:10px;
}

.con-image{
	display:flex;
	margin-left:10%;
	margin-right:10%;
	border:2px solid white;
	padding:20px;
	border-radius:25px;
	flex-flow:column wrap;
}

.con-image h1{
	font-size: 40px;
}


.con-image p{
	font-size: 20px
}

.con-image img{
	display:flex;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

.con-image a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	font-size: 100rem:
	text-decoration: none;
	background-color:#0008eb;
	border-radius:20px;
	margin:20px;
	height:20%;
}

/*project mobile*/
@media only screen and (max-width: 640px){
	.con-image h1{
		font-size: 30px;
	}

	.con-image p{
		font-size: 15px
	}
}

/*project small screen*/
@media only screen and (max-width: 390px){
	.project{
		font-size: 40px
	}
}

/*contact page*/
.container-contact{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;
}

.contact{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
}

.contact a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color:#0008eb;
	border-radius:20px;
	margin:20px;
	font-size: 20px;
}

.contact h1 {
	font-size:50px;
	line-height: 60px;
	text-align:center;
}

/*contact mobile*/
@media only screen and (max-width: 390px){
	.contact h1{
		font-size: 20px;
	}

	.contact a{
		padding: 8px 10px;
		font-size: 15px;
	}
}
