/*Global*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	margin-bottom:100px;
}

body{
	background-color:black;
	background-image:url('../images/Bcakground.png');
	background-size:3000px;
	background-repeat:repeat;
	background-position:center center;
	color:#ffffff;
	font-family:sans-serif;
}

a {
	color:#7a97ff;
}

a:hover{
	color:#0038ff;
}'

a:active{
	color:#001561;
}

/*global header*/
.heading{
	display:flex;
	width:100%;
	height:300px;
	background-image:url('../images/camping.png');
	background-size:1500px;
	background-repeat:no-repeat;
	background-position:center center;
	justify-content:center;
	align-items:center;
}

.heading h1{
	display:flex;
	text-align:center;
	font-size:70px;
}

/*header for small screen*/
@media only screen and (max-width: 390px){
	.heading h1{
		font-size: 50px;
	}
}


/*global navbar*/
nav{
	padding: 0;
	margin: 0;
}

nav{
	background-color:#010059;
	height:50px;
	width:100%;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li{
	display:inline-block;
	box-sizing:border-box;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 5px;
	border-left: 0.5px solid #27a0e6;
}

nav ul li a{
	box-sizing:border-box;
	font-size: 20px;
	text-decoration: none;
	padding: 5px 10px;
}

nav ul li a:hover{
	box-sizing:border-box;
	color: #a3f4ff;
	border:1px solid #a3f4ff;
	border-radius: 20px;
}
/*for mobile global*/
@media only screen and (max-width: 640px){
	nav{
		margin: 0px 0px;
		padding: 0px 0px;
		width: 100%;
		height:51px;
	}
	nav ul{
		margin: 0px 0px;
		padding: 0px 0px;
		width: 100%;
		left: 0px;
		background-color: #010059;
	}

	nav ul li{
		display:block;
		float: right;
		width: 100%;
		padding:0;
		text-align: center;
		border-left:none;
		border-bottom: 0.5px solid #27a0e6;
	}
	nav ul li a{
		background-color: #010059;
		width: 100%;
	}

}


/*global footer*/
.footer{
	text-align:Center;
	color:white;
	font-size:2vw;
	margin:50px;
}



/*Home Page*/
.container-home{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;
}

.about-me{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
	font-size:30px;
	text-align:center;
}
.about-me p{
	font-size: 20px;
}

.down{
	margin-left: 10%;
	margin-right: 10%;
}

.galery{
	margin-left: 10%;
	margin-right: 10%;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px;
}

.galery h1{
	text-align: center;
	font-size: 50px;
	margin: 10px;
}

.img-galery{
	display: flex;
	flex-flow: row wrap;
}

.img-galery img{
	display: flex;
	width: 50%;
	padding: 10px;
}

.galery a {
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 14px 16px;
	font-size: 100rem:
	text-decoration: none;
	background-color:#0008eb;
	border-radius:20px;
	margin:20px;
	height:20%;
}
/*homepage for small screen*/
@media only screen and (max-width: 700px){
	.img-galery img{
		display: flex;
		width: 100%;
	}
}

/*changelog Page*/
.container-change{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;
}

.changelog{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
	font-size:20px;
	list-style-position: inside;
	padding:10px;
}

.changelog h1{
	font-size:50px;
	text-align:center;
	padding:10px;
}

.footnote{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
	font-size:20px;
	padding:20px;
}


/*gallery Page*/
.gallery{
	text-align:center;
	padding:40px;
	font-size: 80px;
}

.container-gallery{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;

}

.con-image h6{
	font-size:10px;
}

.con-image{
	display:flex;
	margin-left:10%;
	margin-right:10%;
	border:2px solid white;
	padding:20px;
	border-radius:25px;
	flex-flow:column wrap;
}

.con-image h1{
	font-size: 40px;
}


.con-image p{
	font-size: 20px
}

.con-image img{
	display:flex;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

.con-image a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	font-size: 100rem:
	text-decoration: none;
	background-color:#0008eb;
	border-radius:20px;
	margin:20px;
	height:20%;
}

/*gallery mobile*/
@media only screen and (max-width: 640px){
	.con-image h1{
		font-size: 30px;
	}

	.con-image p{
		font-size: 15px
	}
}

/*gallery small screen*/
@media only screen and (max-width: 390px){
	.project{
		font-size: 40px
	}
}

/*contact page*/
.container-contact{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;
}

.contact{
	border:2px solid white;
	border-radius:25px;
	margin-left:10%;
	margin-right:10%;
}

.contact a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color:#0008eb;
	border-radius:20px;
	margin:20px;
	font-size: 20px;
}

.contact h1 {
	font-size:50px;
	line-height: 60px;
	text-align:center;
}

/*contact mobile*/
@media only screen and (max-width: 390px){
	.contact h1{
		font-size: 20px;
	}

	.contact a{
		padding: 8px 10px;
		font-size: 15px;
	}
}


/*project*/
.container-project{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;
}

.project{
	font-size:30px;
	margin:20px;
}

.con-project{
	border: solid 2px white;
	margin-right: 80px;
	margin-left: 80px;
	padding: 30px;
	border-radius: 20px;
}

.con-project a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color:#0008eb;
	border-radius:20px;
	margin:20px;
	font-size: 20px;
}

.con-project img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: solid 1px white;
	border-radius: 10px;
}


.project{
	font-size:50px;
	line-height: 60px;
	text-align:center;
}




/*project mobile*/
@media only screen and (max-width: 710px){
	.con-project img{
		width: 100%;
	}

	.con-project a {
		font-size: 15px;
		padding: 12px 14px;
	}
}


/*pasal*/
.con-pasal{
	background-color: #00046b;
	margin: 0px;
	padding: 20px;
}

.button-verif{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color:#0008eb;
	border-radius:20px;
	margin:20px;
	font-size: 20px;
}

.button-verif:hover{
	color: white;
}



/*weapon room*/
.container-weapon{
	margin-bottom:20px;
	margin-left:5%;
	margin-right:5%;
	background-color:#00046b;
}

.headerimg{
	display: flex;
	justify-content: center;
}

.headerimg img{
	width: 60%;
	margin: 20px;
}

.weapon{
	font-size: 50px;
	text-align: center;
	margin: 20px;
}

.con-weapon{
	margin-left: 50px;
	margin-right: 50px;
	border: solid 2px white;
	border-radius: 20px;
	display: grid;
	grid-template-columns: auto auto 300px;
	grid-template-rows: auto auto;
	gap: 0px;
}

.con-weapon img{
	display: grid;
	height:auto;
	margin: 20px;
	margin-right:auto;
	width:90%;
	grid-column: 1/ span 2;
	grid-row: 1 / span 2 ;
}

.con-weapon h1{
	display: grid;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: auto;
	padding: 10px;
	width: auto;
	font-size: 4vw;
}

.con-weapon table{
	display: grid;
	margin: 20px;
	margin-top: auto;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: auto;
}

.con-weapon td{
	padding: 2%;
	margin-right: auto;
	font-size: 1.5vw;

}


.con-weapon table, tr, td{
	border: 2px solid white;
	border-radius: 10px;
}

/*responsive img weapon*/
@media only screen and (max-width: 890px){
	.con-weapon img{
		width: 110%;
	}
}

@media only screen and (max-width: 700px){
	.con-weapon img{
		width: 135%;
	}
}
@media only screen and (max-width: 600px){
	.con-weapon img{
		width: 180%;
	}
}
@media only screen and (max-width: 550px){
	.con-weapon img{
		width: 230%;
	}
}
@media only screen and (max-width: 500px){
	.con-weapon img{
		width: 400%;
	}
}
