*{
	margin:0;
	color:#000;
	font-family: Trebuchet MS, sans-serif;
}
body{
	background-color:#142433;
}

header{
	padding:20px 10px;
}

header h1{
	text-align:center;
	font-size:5vw;
	color:#1f77bf;
}

header h2{
	text-align:center;
	font-size:2vw;
	color:#1f77bf;
}

.maincont{
	border-radius:20px;
	background-color:#cce2fb;
	padding:20px;
	margin:0 5%;
}

.container{
	display:flex;
	flex-flow:column wrap;
}

.jadwal{
	border-collapse: collapse;
	
}

.jadwal th{
	background-color:#389def;
}

.jadwal th, td{
	text-align:center;
	font-size:1.3vw;
	font-weight:700;
	padding:10px 5px;
	border:3px solid ;
}



footer{
	margin:20px;
}

footer p, a{
	color:#e6ffc7;
	font-size:20px;
	text-align:center;
}