*{
	margin:0;
	color:#000;
	font-family: Trebuchet MS, sans-serif;
}
body{
	background-color:#fef1c5;
}

header{
	padding:20px 10px;
}

header h1{
	text-align:center;
	font-size:60px;
	color:#1d0d03;
}

header h2{
	text-align:center;
	font-size:30px;
	color:#1d0d03;
}

.maincont{
	border-radius:20px;
	background-color:#ff9500;
	padding:20px;
	margin:0 5%;
}

.container{
	display:flex;
	flex-flow:column wrap;
}


.listguru{
	font-size:1.3vw;
	padding:20px;
	margin: 0 20px;
	padding: 0;
}

.tartib{
	font-size:1.3vw;
	padding:20px;
	margin: 0 20px;
	padding: 0;
}

.jadwal{
	border-collapse: collapse;
	
}

.jadwal th{
	background-color:#ffc068;
}

.jadwal th, td{
	text-align:center;
	font-size:1vw;
	font-weight:700;
	padding:10px 5px;
	border:0.3vw solid black;
}

.heading-gal{
	font-size:50px;
	text-align:center;
}

.img{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-evenly;
}


.img-galeri{
	display:flex;
	height:200px;
	margin:10px;
}

footer{
	margin:20px;
}

footer p, a{
	color:#681110;
	font-size:1.3vw;
	text-align:center;
}

@media only screen and (max-width: 570px){
	.heading-gal{
		font-size:10vw;
	}
	.listguru{
		font-size:2vw;
	}
	
	.tartib{
		font-size:2vw;
	}

	.jadwal th, td{
		font-size:2vw;
		font-weight:700;
		border:0.3vw solid ;
	}
	
	.img-galeri{
		height:30vw;
	}
}

@media only screen and (max-width: 350px){
	header h1, header h2{
		font-size:20px;
	}
	
	.heading{
		font-size:7vw;
	}
	.listguru{
		font-size:2.5vw;
	}
	
	.tartib{
		font-size:2.5vw;
	}
	
	.jadwal th, td{
		font-size:2vw;
		font-weight:700;
		border:0.3vw solid ;
		padding:3px;
	}

}