*{
	margin:0;
	color:#000;
	font-family: Trebuchet MS, sans-serif;
}
body{
	background-color:#142433;
}

header{
	padding:20px 10px;
}

header h1{
	text-align:center;
	font-size:60px;
	color:#1f77bf;
}

header h2{
	text-align:center;
	font-size:30px;
	color:#1f77bf;
}

.maincont{
	border-radius:20px;
	background-color:#cce2fb;
	padding:20px;
	margin:0 5%;
}

.container{
	display:flex;
	flex-flow:column wrap;
}

.heading{
	
}

.listguru{
	font-size:1.3vw;
}

.jadwal{
	border-collapse: collapse;
	
}

.jadwal th{
	background-color:#389def;
}

.jadwal th, td{
	text-align:center;
	font-size:1vw;
	font-weight:700;
	padding:10px 5px;
	border:0.3vw solid ;
}



footer{
	margin:20px;
}

footer p, a{
	color:#e6ffc7;
	font-size:1.3vw;
	text-align:center;
}

@media only screen and (max-width: 570px){
	
	.listguru{
		font-size:2vw;
	}

	.jadwal th, td{
		font-size:2vw;
		font-weight:700;
		border:0.3vw solid ;
	}

}

@media only screen and (max-width: 350px){
	header h1, header h2{
		font-size:20px;
	}
	
	.heading{
		font-size:7vw;
	}
	.listguru{
		font-size:2.3vw;
	}

	.jadwal th, td{
		font-size:2vw;
		font-weight:700;
		border:0.3vw solid ;
		padding:3px;
	}

}