*{
	font-family:sans-serif;
}

body{
	background-color:#ffc773;
	margin:0;
}

header{
	margin:0;
	padding:10px;
	background-color:#fcba03;
}

header h1{
	font-size:50px;
	text-align:center;
}

header p{
	font-size:20px;
	text-align:center;
}

.cont{
	margin:40px;
	background-color:#fcba03;
	padding:30px;
	border-radius:45px;
	padding:5px auto;
	
}

.cont h1{
	font-size:50px;
	text-align:center;
	margin:20px;
}

.cont p{
	margin:20px;
	font-size:20px;
	text-align:center;
	font-weight:20;
}

.subcont{
	display:flex;
	margin: 0 0;
	padding:20px;
	flex-flow:row wrap;
	justify-content:center;
}

/*grafik*/

.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
	font-size:20px;
}
.tree {
    margin: 0 0 1em;
    text-align: center;
}
.tree,
.tree ul {
    display: table;
}
.tree ul {
    width: 100%;
}
.tree li {
    display: table-cell;
    padding: .5em 0;
    vertical-align: top;
}
.tree li:before {
    outline: solid 1px #666;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.tree li:first-child:before {
    left: 50%;
}
.tree li:last-child:before {
    right: 50%;
}
.tree code,
.tree p {
    border: solid .1em #666;
    border-radius: .2em;
    display: inline-block;
    margin: 0 .2em .5em;
    padding: .2em .5em;
    position: relative;
}
.tree ul:before,
.tree code:before,
.tree p:before {
    outline: solid 1px #666;
    content: "";
    height: .5em;
    left: 50%;
    position: absolute;
}
.tree ul:before {
    top: -.5em;
}
.tree code:before,
.tree p:before {
    top: -.55em;
}
.tree>li {
    margin-top: 0;
}
.tree>li:before,
.tree>li:after,
.tree>li>code:before,
.tree>li>p:before {
    outline: none;
}
/*end grafik*/


.image{
	display:flex;
	margin: 0 px;
	padding:10px;
	height:400px;
}