*{
	font-family:sans-serif;
}

body{
	background-color:#ffc773;
	margin:0;
}

header{
	margin:0;
	padding:10px;
	background-color:#fcba03;
}

header h1{
	font-size:5vw;
	text-align:center;
}

header p{
	font-size:2vw;
	text-align:center;
}

hr{
	background-color:black;
	color:black;
	border:solid 3px black;
	border-radius:25px;
}


.cont{
	margin:40px;
	background-color:#fcba03;
	padding:30px;
	border-radius:45px;
	padding:5px auto;
	
}

.cont h1{
	font-size:3vw;
	text-align:center;
	margin:20px;
}


.cont p{
	margin:1vw;
	font-size:2vw;
	text-align:center;
	font-weight:20;
}


.p-image{
	font-size:1vw;
}

.subcont{
	display:flex;
	margin: 0 0;
	padding:10px;
	flex-flow:row wrap;
	justify-content:center;
}

.denah{
	width: 100%;
    height: auto;
    object-fit: cover;
}

.denah-cont{
	display:none;
	margin:0;
	padding:0;
}

.deret{
	display:inline-block;
	margin:10px;
	justify-content:center;
}

.deret ul{
	display:inline-block;
	text-align:center;
	text-decoration:none;
	padding:0;
	margin:1px 0px;
}

.deret li{
	display:block;
	font-size:13px;
	list-style:none;
	padding:30px 5px 5px;
	border:solid 3px black;
	border-radius:20px;
	margin:10px 0px;
	font-weight:600;
	width:110px;
	height:60px;
}

.image{
	display:flex;
	margin: 0 px;
	padding:10px;
	height:290px;
	border-radius:20px;
}

.video{
	display:flex;
	margin: 0 px;
	padding:10px;
	border-radius:20px;
}

.link a{
	display:block;
	margin: 10px;
	padding:10px;
	font-size:25px;
	text-align:center;
	text-decoration:none;
	color:black;
	height:30px;
	background-color:#ffa600;
	border-radius:30px;
	border:solid 2px black;
}


/*grafik*/

.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
	
}
.tree {
    margin: 0 0 1em;
    text-align: center;
}
.tree,
.tree ul {
    display: table;
}
.tree ul {
    width: 100%;
}
.tree li {
    display: table-cell;
    padding: .5em 0;
    vertical-align: top;
}
.tree li:before {
    outline: solid 2px #000;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.tree li:first-child:before {
    left: 50%;
}
.tree li:last-child:before {
    right: 50%;
}
.tree code,
.tree p {
    border: solid .2em #000;
    border-radius: .2em;
    display: inline-block;
    margin: 0 .2em .5em;
    padding: .2em .5em;
    position: relative;
	font-weight: 600;
	font-size:20px;
}
.tree ul:before,
.tree code:before,
.tree p:before {
    outline: solid 2px #000;
    content: "";
    height: .4em;
    left: 50%;
    position: absolute;
}
.tree ul:before {
    top: -.5em;
}
.tree code:before,
.tree p:before {
    top: -.55em;
}
.tree>li {
    margin-top: 0;
}
.tree>li:before,
.tree>li:after,
.tree>li>code:before,
.tree>li>p:before {
    outline: none;
}
/*end grafik*/




